<!--Obtem data e hora atuais-->
<% 
   // Data atual	 
	var atual = new Date();
	var ano = atual.getFullYear();
	var mes = atual.getMonth() + 1;
     var dia = atual.getDate();
// Data atual completa
  if( dia < 10 && mes < 10)
    var dataAtual = ano+'-'+'0'+mes+'-'+'0'+dia;
if(dia< 10 && mes >= 10)
    var dataAtual = ano+'-'+mes+'-'+'0'+dia;
if(mes< 10 && dia >= 10)
     var dataAtual = ano+'-'+'0'+mes+'-'+dia;
if(dia >= 10 && mes >= 10)
     var dataAtual = ano+'-'+mes+'-'+dia;
    
// Data atual yyyy-mm
if( dia < 10 && mes < 10)
    var mesAtual = ano+'-'+'0'+mes;
if(dia< 10 && mes >= 10)
    var mesAtual = ano+'-'+mes;
if(mes< 10 && dia >= 10)
     var mesAtual = ano+'-'+'0'+mes;
if(dia >= 10 && mes >= 10)
     var mesAtual = ano+'-'+mes;
 
var dataSemana = ano+'-'+'W'+incubadora.dataSemana;
var dataSemanaAtual = ano+'-'+'W'+incubadora.dataSemanaAtual;
 
%>
<!-- Inclui o layout do cabeçário-->
<%- include('../headerLayout.ejs')%>



	<div class="row">
		<div class="detailModule col-lg-4 col-md-4 col-sm-4 mb-12 d-flex align-items-stretch">

			<div class="card" style="min-width: 100%;">
					
					<div class="card-body">
					  <h5 class="card-title">Recém-Nascido</h5>
					  <label for="nome"><b>Identificação Recém-Nascido:</b></label>
				<%=incubadora.idRecemNasc%> <br>
				<label for="nome"><b>Nome:</b></label>
				<p><%=incubadora.nome%></p> 
				<label for="nome"><b>Nome da Mãe:</b></label>
				<p><%=incubadora.nomeMae%></p>
					 
					</div>
				  </div>
		</div>
		<div class="detailModule col-lg-4 col-md-4 col-sm-4 mb-12 d-flex align-items-stretch">

			<div class="card" style="min-width: 100%;">
					
					<div class="card-body">
					  <h5 class="card-title">Internação</h5>
				<label for="nome"><b>Identificação internação:</b></label>
				<%=incubadora.idInternacao%>
				<br>	 
				<label for="nome"><b>Data:</b></label>
				<p><%=incubadora.date%></p>
				<label for="nome"><b>Hora:</b></label>
				<p><%=incubadora.time%></p>
					 
					</div>
				  </div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 mb-12 d-flex align-items-stretch">

			<div class="card card " style="min-width: 100%;">
					
					<div class="card-body">
					  <h5 class="card-title">Incubadora</h5>
					 
				<label for="nome"><b>Identificação da incubadora:</b></label>
				<%=incubadora.idIncubadora%>
				<br>
				<label for="nome"><b>Descrição:</b></label><label id="descAlt"><%=incubadora.descIncubadora%></label>
				
				<br>
				<label for="">Configurações:</label>
				<br>
				<label><b>Temp:</b> Máx:</label><label id="tempMaxConfigAlt"><%=incubadora.tempMaxConfig%></label>&nbsp&nbsp&nbsp&nbsp&nbsp
				<input type="hidden" id="tempMaxConfigAlerta"  value="<%=incubadora.tempMaxConfig%>">
								
				<label> Mín:</label><label id="tempMinConfigAlt" value="<%=incubadora.tempMinConfig%>"><%=incubadora.tempMinConfig%></label>
				<input type="hidden" id="tempMinConfigAlerta"  value="<%=incubadora.tempMinConfig%>">
				
				<br>

				<label><b>Umid:</b> Máx:</label><label id="umidMaxConfigAlt" value="<%=incubadora.umidMaxConfig%>"><%=incubadora.umidMaxConfig%></label>&nbsp&nbsp&nbsp&nbsp&nbsp
				<input type="hidden" id="umidMaxConfigAlerta"  value="<%=incubadora.umidMaxConfig%>">

				<label>Mín:</label><label id="umidMinConfigAlt" value="<%=incubadora.umidMinConfig%>"><%=incubadora.umidMinConfig%></label>
				<input type="hidden" id="umidMinConfigAlerta"  value="<%=incubadora.umidMinConfig%>">
				
				
				
				<div style="text-align: center">
					<a class="btn btn-primary"title="Nova Incubadora" data-toggle="modal" data-target="#exampleModalCenter">
					 Alterar
				</a>
				</div>
				 
					 
					</div>
			</div>
		</div>

	</div>
	<hr>
	<!-- Modal ALTERAÇÃO DE INCUBADORA-->

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alteração de dados</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
						<label for="desc">Descrição:</label>
                            <input type="text"  id="desc" name="desc" maxlength="28" value="<%=incubadora.descIncubadora%>">

							<label for="tempMaxConfig">Temperatura máxima:</label>
							<span id="tempMaxConfigSpan"></span>
							<input type="range" id="tempMaxConfig" min="21" max="50" value="<%=incubadora.tempMaxConfig%>">
										  
							<label for="tempMinConfig">Temperatura mínima:</label>
							<span id="tempMinConfigSpan"></span>
                            <input type="range" id="tempMinConfig" name="tempMinConfig" min="17" max="22" value="<%=incubadora.tempMinConfig%>">

							<label for="umidMaxConfig">Umidade máxima:</label>
							<span id="umidMaxConfigSpan"></span>
                            <input type="range" id="umidMaxConfig" name="umidMaxConfig" min="71" max="100" value="<%=incubadora.umidMaxConfig%>">

							<label for="umidMinConfig">Umidade mínima:</label>
							<span id="umidMinConfigSpan"></span>
                            <input type="range" id="umidMinConfig" name="umidMinConfig" min="35" max="72" value="<%=incubadora.umidMinConfig%>">
                            
					</form>
                        
						

                </div>
                <div class="modal-footer">
                    <button onclick="alterar()" class="btn waves-effect waves-light azul "data-dismiss="modal">Alterar</button>
                    <button type="button" class="btn waves-effect waves-light azul" data-dismiss="modal">Fechar</button>
                    
                </div>
            </div>
        </div>
    </div>
	<!-- arrumar label da temperatura de % para ºC: -->
	<style>
		#temperatura .ldBar-label:after {
			content: "ºC";
		}
	</style>

	<!-- MENSAGEM DE ALERTA!-->
	
	 <div class="row">
	 <div class="col-lg-6 col-md-6 col-sm-12  mb-12 " style=" text-align:center">
	 

		<div id="msgTempAlert" class="alert alert-danger" style="display: none">
			  <strong > Range de temperatura violado!</strong> 
			
                            
        </div>	 
		
	 </div>
		
	

	
		<div class="col-lg-6 col-md-6 col-sm-12 mb-12 " style=" text-align:center">
			<div id="msgUmidAlert"  class="alert alert-danger" style="display: none" >
			  <strong > Range de umidade violado!</strong> 
			 
                            
        </div>	 
			
		
		</div>
	</div>

	
	
	<br>
	
        

	<!-- DADOS EM TEMPO REAL -->
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-12 text-center">
			<div id="temperatura" data-max="50" data-type="fill" data-img="/images/termometro.png" class="ldBar"  data-img-size="100,100"></div>			
		</div>
		<div class="col-lg-6 col-md- col-sm-6 col-6 mb-12 text-center">
			<div id="umidade" data-type="fill" data-img="/images/water.png" class="ldBar"  data-img-size="100,100"></div>
		</div>
	</div>

	<br>
	

	

	<!-- TABELAS: -->
	<div class="row">
		<div class="detailModule col-lg-6 col-md-6 mb-12">
			<div class="card">
				
				<div class="card-body">
					<h5 class="card-title">Temperatura</h5>
					<canvas id="chart"></canvas>
				</div>
			</div>
		</div>

		<div class="detailModule col-lg-6 col-md-6 mb-12">
			<div class="card">

			
				<div class="card-body">
					<h5 class="card-title">Umidade</h5>
					<canvas id="chartU"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!--Calendários-->
<% if(incubadora.status == 1){%>
	
	<div class="row">
		
		
		<div class="col-lg-4 col-md-4 mb-12">
			<div >
				<label for="dia" ><b>Por dia:</b></label>
				<input class="form-control" style="position: relative; background: transparent; width: 150px; height:50px; border: none ;outline: none;padding: 8px 0;font-size: 16px;" type="date" id="dia" name="dia" onchange="get_estatisticaDia(event)" min="<%=incubadora.dataDia%>" max="<%=dataAtual%>" placeholder="Toque aqui" >
		
			</div>
		</div>
		<div class="col-lg-4 col-md-4 mb-12">
			<div>
				<label for="semana"><b>Por Semana:</b></label>
				<input class="form-control" style="position: relative; background: transparent; width: 200px;border: none ;padding: 8px 0;font-size: 16px;"   type="week" id="semana" name="semana" onchange="get_estatisticaSemana(event)" min="<%=dataSemana%>" max="<%=dataSemanaAtual%>" placeholder="Toque aqui">
	
			</div>
		</div>
		<div class="col-lg-4 col-md-4 mb-12">
			<div>
				<label for="mes"><b>Por Mes:</b></label>
				<input class="form-control" style="position: relative; background: transparent; width: 200px; ;outline: none;border: none;padding: 8px 0;font-size: 16px;"  type="month" id="mes" name="mes" onchange="get_estatisticaMes(event)" min="<%=incubadora.dataMes%>" max="<%=mesAtual%>" placeholder="Toque aqui">
			</div>
			
		</div>
		
		
	
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-12">
			<label for="">Temperatura Média </label>
			<p id="mediaTemp"></p>
			<label for="">Temperatura Mediana </label>
			<p id="medianaTemp"></p>
			<label for="">Desvio Padrão</label>
			<p id="dvPdTemp"></p>
			<label for="">Mínima</label>
			<p id="minTemp"></p>
			<label for="">Máxima</label>
			<p id="maxTemp"></p>
			<label for="q1Temp">1° Quartil</label>
			<p id="q1Temp"></p>
			<label for="q3Temp">3° Quartil</label>
			<p id="q3Temp"></p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-12">
			<label for="">Umidade Média</label>
			<p id="mediaUmid"></p>
			<label for="">Umidade Mediana</label>
			<p id="medianaUmid"></p>
			<label for="">Desvio Padrão </label>
			<p id="dvPdUmid"></p>
			<label for="">Mínima</label>
			<p id="minUmid"></p>
			<label for="">Máxima</label>
			<p id="maxUmid"></p>
			<label for="q1Umid">1° Quartil</label>
			<p id="q1Umid"></p>
			<label for="">3° Quartil</label>
			<p id="q3Umid"></p>
			
		</div>
		
	</div>
<%}%>
		<!--o-->
		<% if(incubadora.status == 0){%>
			<div>
				<a class="btn waves-effect waves-light red text-white" data-toggle="modal" data-target="#modalDel">Deletar
					Incubadora</a>
			</div>
			<!-- Modal de confirmação DELETER INCUBADORA-->
			<div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			 aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Deletar incubadora?</h5>
						</div>
						<div class="modal-body text-center">
							<a href="/incubadoras/delete/<%= incubadora.idIncubadora %>" class="btn waves-effect waves-light green">Confirmar</a>&nbsp
							<button class="btn waves-effect waves-light red" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<%}%>
			
			<% if(incubadora.status == 1){%>
			<div>
				<a class="btn waves-effect waves-light green text-white" data-toggle="modal" data-target="#modalAlta">Dar Alta</a>
			</div>
			<!-- Modal de confirmação DAR ALTA-->
			<div class="modal fade" id="modalAlta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			 aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Dar alta em <b><%= incubadora.nome %></b>?</h5>
						</div>
						<div class="modal-body text-center">
							<a href="/incubadoras/alta/<%= incubadora.idIncubadora %>" class="btn waves-effect waves-light green">Confirmar</a>&nbsp
							<button class="btn waves-effect waves-light red" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
			<%};%>	

	


	<!--Inclui código do ChartJs para gráficos-->
	
	<%- include('./graficos.ejs')%>

	

	<!-- Inclui o layout de rodapé-->
	<%- include('../footerLayout.ejs');%>

	<script>
		//SETA VALORES ATUAIS DE TEMPERETURA NA PAGINA DE ALTERAR
		document.getElementById('tempMaxConfig').value = document.getElementById('tempMaxConfigAlt').value;
		document.getElementById('tempMinConfig').value = document.getElementById('tempMinConfigAlt').value;
		document.getElementById('umidMaxConfig').value = document.getElementById('umidMaxConfigAlt').value;
		document.getElementById('umidMinConfig').value = document.getElementById('umidMaxConfigAlt').value;
		
	
		
	
		 function alterar(){
			let desc = document.getElementById('desc').value;
			let tempMaxConfig = document.getElementById('tempMaxConfig').value;
			let tempMinConfig = document.getElementById('tempMinConfig').value;
			let umidMaxConfig = document.getElementById('umidMaxConfig').value;
			let umidMinConfig = document.getElementById('umidMinConfig').value;
			 let dados = {desc: desc, tempMaxConfig: tempMaxConfig, tempMinConfig: tempMinConfig,umidMaxConfig : umidMaxConfig, umidMinConfig: umidMinConfig};
           
            myHeaders = {"Content-Type": "application/json"};
             //Realiza a tentiva de login na rota
            fetch('/incubadoras/edit/<%=incubadora.idIncubadora%>',{method:'post',body:JSON.stringify(dados), headers : myHeaders }).then((response)=> {
					
				//Obtem a resposta da rota 
				response.json().then(function (data) {
                    console.log(data);
 					document.getElementById('descAlt').innerHTML = data.descIncubadora;
					document.getElementById('tempMaxConfigAlt').innerHTML = data.tempMaxConfig;
					document.getElementById('tempMinConfigAlt').innerHTML = data.tempMinConfig;
					document.getElementById('umidMaxConfigAlt').innerHTML = data.umidMaxConfig;
					document.getElementById('umidMinConfigAlt').innerHTML = data.umidMinConfig;

					document.getElementById('tempMaxConfigAlerta').value = data.tempMaxConfig;
					document.getElementById('tempMinConfigAlerta').value = data.tempMinConfig;
					document.getElementById('umidMaxConfigAlerta').value = data.umidMaxConfig;
					document.getElementById('umidMinConfigAlerta').value = data.umidMinConfig;

					document.getElementById('tempMaxConfig').value = data.tempMaxConfig;
					document.getElementById('tempMinConfig').value = data.tempMinConfig;
					document.getElementById('umidMaxConfig').value = data.umidMaxConfig;
					document.getElementById('umidMinConfig').value = data.umidMinConfig;
					
				});
               
            
			}).catch(function (err) {
				console.error('Failed retrieving information', err);
			});
     }
	
	 //Obtem as estatisticas do dia selecionado no calendário
		//--------------------------------------------------------------------------------------------------
		function get_estatisticaDia(dia){
			
			let dados = {dia: dia.target.value};
			
				myHeaders = {"Content-Type": "application/json"};
			fetch('/medicao/estatisticaDia/<%=incubadora.idIncubadora%>',{method:'post',body:JSON.stringify(dados), headers : myHeaders })
			.then(function (response) {
				response.json().then(function (data) {
					document.getElementById('mediaTemp').innerHTML = data.mediaTemp;
					document.getElementById('medianaTemp').innerHTML = data.medianaTemp;
					document.getElementById('dvPdTemp').innerHTML = data.dvPdTemp;
					document.getElementById('minTemp').innerHTML = data.minTemp;
					document.getElementById('maxTemp').innerHTML = data.maxTemp;
					document.getElementById('q1Temp').innerHTML = data.q1Temp;
					document.getElementById('q3Temp').innerHTML = data.q3Temp;
					document.getElementById('mediaUmid').innerHTML = data.mediaUmid;
					document.getElementById('medianaUmid').innerHTML = data.medianaUmid;
					document.getElementById('dvPdUmid').innerHTML = data.dvPdUmid;
					document.getElementById('minUmid').innerHTML = data.minUmid;
					document.getElementById('maxUmid').innerHTML = data.maxUmid;
					document.getElementById('q1Umid').innerHTML = data.q1Umid;
					document.getElementById('q3Umid').innerHTML = data.q3Umid;
				});
			}).catch(function (err) {
				console.error('Failed retrieving information', err);
			});
		}
		
		function get_estatisticaSemana(week){
			week = week.target.value;
			var s = week.split("W");
			var semana = s[1];
			console.log(week);
			let dados = {semana: semana};
			
			myHeaders = {"Content-Type": "application/json"};
			fetch('/medicao/estatisticaSemana/<%=incubadora.idIncubadora%>',{method:'post',body:JSON.stringify(dados), headers : myHeaders })
			.then(function (response) {
				response.json().then(function (data) {
					document.getElementById('mediaTemp').innerHTML = data.mediaTemp;
					document.getElementById('medianaTemp').innerHTML = data.medianaTemp;
					document.getElementById('dvPdTemp').innerHTML = data.dvPdTemp;
					document.getElementById('minTemp').innerHTML = data.minTemp;
					document.getElementById('maxTemp').innerHTML = data.maxTemp;
					document.getElementById('mediaUmid').innerHTML = data.mediaUmid;
					document.getElementById('medianaUmid').innerHTML = data.medianaUmid;
					document.getElementById('dvPdUmid').innerHTML = data.dvPdUmid;
					document.getElementById('minUmid').innerHTML = data.minUmid;
					document.getElementById('maxUmid').innerHTML = data.maxUmid;
				});
			}).catch(function (err) {
				console.error('Failed retrieving information', err);
			});
		}
		
		 function get_estatisticaMes(m){
			
			var mes = m.target.value +'-'+'05';	 
			
			
			
			let dados = {mes: mes};
			myHeaders = {"Content-Type": "application/json"};
			fetch('/medicao/estatisticaMes/<%=incubadora.idIncubadora%>',{method:'post',body:JSON.stringify(dados), headers : myHeaders })
			.then(function (response) {
				response.json().then(function (data) {
					document.getElementById('mediaTemp').innerHTML = data.mediaTemp;
					document.getElementById('medianaTemp').innerHTML = data.medianaTemp;
					document.getElementById('dvPdTemp').innerHTML = data.dvPdTemp;
					document.getElementById('minTemp').innerHTML = data.minTemp;
					document.getElementById('maxTemp').innerHTML = data.maxTemp;
					document.getElementById('mediaUmid').innerHTML = data.mediaUmid;
					document.getElementById('medianaUmid').innerHTML = data.medianaUmid;
					document.getElementById('dvPdUmid').innerHTML = data.dvPdUmid;
					document.getElementById('minUmid').innerHTML = data.minUmid;
					document.getElementById('maxUmid').innerHTML = data.maxUmid;
				});
			}).catch(function (err) {
				console.error('Failed retrieving information', err);
			});
		}
	
	</script>